<div class="row">
  <% posts.each do |post| %>
    <div class="col-lg-4 col-sm-6 mt-3">
      <div id ="post_<%= post.id %>" class="card h-100">
        <div class="card-image">
          <%= link_to member_post_path(post.member , post) do %>
            <%= image_tag post.get_post_image(200, 200), class: "w-100 card-image" %>
          <% end %>
          <% if member_signed_in? %>
            <div class="h5 index-favorite-btn d-flex align-items-center justify-content-center">
              <%= render 'public/favorites/btn', post: post %>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <%= link_to member_post_path(post.member , post) do %>
            <%= post.title %>
          <% end %></br>
          <%= link_to member_path(post.member) do %>
          <span>by <%= post.member.name %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate posts %>
</div>