<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>新規投稿</h2>
      <%= render 'layouts/errors', obj: @post %>

      <%= form_with model: @post, local: true do |f| %>
        <%= render 'form', f: f %>
        <div class="form-group row mb-5">
          <%= f.submit "新規投稿", class: "btn btn-success px-5 offset-3" %>
        </div>
      <% end %>
      <p><%= link_to "作品管理画面に戻る", posts_post_management_path %></p>
    </div>
  </div>
</div>