<div class="container mt-5">
  <div class="row">
    <!-- 作品詳細 -->
    <div id="post_<%= @post.id %>" class="col-md-6 offset-md-1">
      <% if @post.is_hidden == true %>
        <p class="text-danger">この作品は管理者によって公開を制限されています</p>
      <% end %>
      <%= render 'info', post: @post %>

      <!-- タグ表示 -->
      <div class= "mb-4 mt-5">
        <% @post_tags.each do |tag| %>
          <%= link_to tag_tag_search_path(tag_id: tag.id) do %>
            <span class="pr-2">#<%= tag.tag_name %></span>
          <% end %>
        <% end %>
      </div>

      <% if member_signed_in? %>
        <% if @member.id == current_member.id %>
          <%= link_to "編集する", edit_post_path(@post), class: "btn btn-warning text-white" %>
        <% end %>
      <% end %>

      <!-- コメント表示 -->
      <div class="post_comments mt-5">
        <%= render 'public/comments/index', post: @post %>
      </div>
      <!-- コメント入力フォーム -->
      <% if member_signed_in? %>
        <div>
          <%= form_with model:[@post, @comment],local: false do |f| %>
            <%= f.text_area :comment, rows: '3', placeholder: "コメントを入力してください", class: "form-control" %>
            <%= f.submit "コメント投稿", class: "btn btn-success mt-3" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- 作者プロフィール -->
    <div class="col-md-4 border border-secondary p-4 h-100 rounded ml-5 mt-5">
      <p>
        <%= image_tag @member.get_profile_image(50, 50), class: "rounded-circle" %>
        <%= link_to member_path(@member) do %>
        <span class="h6"><%= @member.name %></span>
        <%= render "public/relationships/btn", member: @member %>
        <% end %>
      </p>
      <p><%= @member.introduction %></p>
      <div class="mb-3">
        <% @posts.each do |post| %>
          <%= link_to member_post_path(post.member, post) do %>
            <%= image_tag post.get_post_image(95, 95) , class: "m-1" %>
          <% end %>
        <% end %>
      </div>
      <%= link_to "もっと見る", members_posts_path(@member) %>
    </div>

  </div>
</div>