<div class="container mt-5">
  <div class="row">
    <!-- 作品詳細 -->
    <div id="post_<%= @post.id %>" class="col-md-7">
      <% if @post.is_hidden == true %>
        <p class="text-danger">この作品は管理者によって公開を制限されています</p>
      <% elsif @post.is_published == false %>
        <p class="text-danger">非公開作品</p>
      <% end %>
      <div class="d-flex mb-2">
        <% if @post.genre != nil %>
          <%= link_to genre_genre_search_path(genre_id: @post.genre.id) do %>
          <span class="btn btn-success mr-3"><%= @post.genre.name %></span>
          <% end %>
        <% end %>
        <span class="h3"><%= @post.title %></span>
      </div>
      <%= render 'info', post: @post %>

      <!-- タグ表示 -->
      <div class= "mb-4 mt-5">
        <% @post_tags.each do |tag| %>
          <%= link_to tag_tag_search_path(tag_id: tag.id) do %>
            <span class="pr-2">#<%= tag.tag_name %></span>
          <% end %>
        <% end %>
      </div>

      <!-- 使用材料表示 -->
      <%= render 'public/post_materials/index', materials: @materials %>

      <% if member_signed_in? %>
        <% if @member.id == current_member.id %>
          <%= link_to "編集する", edit_post_path(@post), class: "btn btn-warning text-white mt-5 btn-block" %>
        <% end %>
      <% end %>

      <!-- コメント表示 -->
      <div class="post_comments mt-5">
        <%= render 'public/comments/index', post: @post %>
      </div>
      <!-- コメント入力フォーム -->
      <% if member_signed_in? %>
        <div>
          <%= form_with model:[@post, @comment],local: false do |f| %>
            <%= f.text_area :comment, rows: '3', placeholder: "コメントを入力してください(150字以内)", class: "form-control" %>
            <%= f.submit "コメント投稿", class: "btn btn-success mt-3" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- 作者プロフィール -->
    <div class="col-md-4 border border-secondary p-4 h-100 rounded offset-md-1 user-info">
      <p>
        <%= link_to member_path(@member) do %>
          <%= image_tag @member.get_profile_image(50, 50), class: "rounded-circle profile-image" %>
          <span class="h6"><%= @member.name %></span>
        <% end %>
        <%= render "public/relationships/btn", member: @member %>
      </p>
      <p>
        <% if @member.introduction.nil? %>
          <%= @member.introduction %>
        <% else %>
          <%= safe_join(@member.introduction.split("\n"), tag(:br)) %>
        <% end %>
      </p>
      <div class="mb-3">
        <% @posts.each do |post| %>
          <%= link_to member_post_path(post.member, post) do %>
            <%= image_tag post.get_post_image(95, 95) , class: "m-1 post-memberpost-image" %>
          <% end %>
        <% end %>
      </div>
      <%= link_to "もっと見る", members_posts_path(@member) %>
    </div>

  </div>
</div>