<div class="row">
  <% members.each do |member| %>
    <div class="col-lg-4 col-sm-6 mt-3">
      <div class="card h-100">
        <%= link_to member_path(member) do %>
          <%= image_tag member.get_profile_image(200, 200), class: "w-100 card-image" %>
        <% end %>
        <div class="card-body">
          <div class="text-center">
            <%= link_to member_path(member) do %>
              <%= member.name %>
            <% end %>
          </div>
          <div class="text-center mt-2", id="member_<%= member.id %>">
            <%= render "public/relationships/btn", member: member %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate members %>
</div>