<tr>
  <th>ユーザー名</th>
  <td>
    <%= member.name %>
  </td>
</tr>
<tr>
  <th>メールアドレス</th>
  <td>
    <%= member.email %>
  </td>
</tr>
<tr>
  <th>自己紹介</th>
  <td>
    <% if member.introduction.nil? %>
      <%= member.introduction %>
    <% else %>
      <%= safe_join(member.introduction.split("\n"), tag(:br)) %>
    <% end %>
  </td>
</tr>
<tr>
  <th>サイト情報</th>
  <td>
    <% if member.website_info.nil? %>
      <%= member.website_info %>
    <% else %>
      <%= safe_join(member.website_info.split("\n"), tag(:br)) %>
    <% end %>
  </td>
</tr>