<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>マイページ</h2>
      <div class="text-center mb-3">
        <%= link_to "作品管理", posts_post_management_path, class: "btn btn-success mx-3 p-4" %>
        <%= link_to "材料管理", materials_path, class: "btn btn-info mx-3 p-4" %>
      </div>
      <div class="text-right">
        <%= link_to "自分のプロフィールを見る", member_path(@member) %>
      </div>
      <div class="my-5">
        <p>
          <span class="h4">ユーザー情報</span>
          <% if@member.name != "guest" %>
            <%= link_to "編集", edit_member_path(@member), class: "btn btn-warning text-light mx-3" %>
          <% end %>
        </p>
        <div class="my-3 text-center">
          <%= image_tag @member.get_profile_image(100, 100), class: "rounded-circle profile-image-big" %>
        </div>
        <table class="table">
          <%= render 'info', member: @member %>
        </table>

        <div class="ml-5 mt-5">
          <p>
            <%= link_to member_favorites_path(@member) do %>
              <i class="fas fa-square"></i> いいね一覧
            <% end %>
          </p>
          <p>
            <%= link_to member_followings_path(@member) do %>
              <i class="fas fa-square"></i> フォロー一覧
            <% end %>
          </p>
          <p>
            <%= link_to member_followers_path(@member) do %>
              <i class="fas fa-square"></i> フォロワー一覧
            <% end %>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>