<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="text-center mb-3">
        <%= image_tag @member.get_profile_image(100, 100), class: "rounded-circle profile-image-big" %>
      </div>
      <h5 class="text-center"><%= @member.name %></h5>
      <div class="text-center mb-4", id="member_<%= @member.id %>">
        <%= render 'public/relationships/btn', member: @member %>
      </div>
      <table class="table">
      <tr>
        <td>自己紹介</td>
        <td>
          <% if @member.introduction.nil? %>
            <%= @member.introduction %>
          <% else %>
            <%= safe_join(@member.introduction.split("\n"), tag(:br)) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>サイト情報</td>
        <td>
          <% if @member.website_info.nil? %>
            <%= @member.website_info %>
          <% else %>
            <%= safe_join(@member.website_info.split("\n"), tag(:br)) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>フォロー</td>
        <td>
          <%= link_to member_followings_path(@member) do %>
            <%= @member.followings.recent_member.count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>フォロワー</td>
        <td>
          <%= link_to member_followers_path(@member) do %>
            <%= @member.followers.recent_member.count %>
          <% end %>
        </td>
      </tr>
    </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mx-auto">
      <h5 class="mt-5">作品一覧</h5>
      <% if @posts.exists? %>
      <div class="mb-3">
        <% @posts.each do |post| %>
          <%= link_to member_post_path(post.member, post) do %>
            <%= image_tag post.get_post_image(150, 150) , class: "m-2 member-show-image" %>
          <% end %>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to "もっと見る", members_posts_path(@member) %>
      </div>
      <% else %>
        <h5 class="text-center mt-5">投稿作品はありません</h5>
      <% end %>

      <h5 class="mt-5">いいね一覧</h5>
      <% if @favorites.exists? %>
      <div class="mb-3">
        <% @favorites.each do |favorite| %>
          <% if favorite.post.is_hidden == false && favorite.post.is_published == true %>
            <%= link_to member_post_path(favorite.post.member, favorite.post) do %>
              <%= image_tag favorite.post.get_post_image(150, 150) , class: "m-2 member-show-image" %>
            <% end %>
          <% else %>
            <%= image_tag 'no-image.png', class: "m-2 member-show-image" %>
          <% end %>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to "もっと見る", member_favorites_path(@member) %>
      </div>
      <% else %>
        <h5 class="text-center mt-5">いいねした作品はありません</h5>
      <% end %>
    </div>
  </div>
</div>
