<table class="table">
        <tr>
          <th></th>
          <th>作品タイトル</th>
          <th>ユーザー名</th>
          <th>公開ステータス</th>
          <th>作品ステータス</th>
        </tr>
        <% posts.each do |post| %>
        <tr>
          <td>
            <%= link_to admin_post_path(post) do %>
              <%= image_tag post.get_post_image(50, 50) %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_post_path(post) do %>
              <%= post.title %>
            <% end %>
          </td>
          <td>
            <%= post.member.name %>
          </td>
          <td>
            <% if post.is_published == true %>
              <span class="text-success">公開</span>
            <% elsif post.is_published  == false %>
              <span class="text-danger">非公開</span>
            <% end %>
          </td>
          <td>
            <% if post.is_hidden == true %>
              <span class="text-danger">無効</span>
            <% elsif post.is_hidden  == false %>
              <span class="text-success">有効</span>
            <% end %>
          </td>
        <% end %>
        </tr>
      </table>
      <%= paginate posts %>