<div class="container mt-5">
  <div class="row">
    <!-- 作品詳細 -->
    <div class="col-md-6 offset-md-1">
      <% if @post.genre != nil %>
        <h5>< <%= @post.genre.name %> ></h5>
      <% end %>
      <h3><%= @post.title %></h3>
      <%= render 'public/posts/info', post: @post %>

      <!-- タグ表示 -->
      <div class= "mb-4 mt-5">
        <% @post_tags.each do |tag| %>
          <span class="pr-2">#<%= tag.tag_name %></span>
        <% end %>
      </div>

      <!-- 使用材料表示 -->
      <%= render 'public/post_materials/index', materials: @materials %>

      <%= link_to "編集する", edit_admin_post_path(@post), class: "btn btn-warning text-white btn-block mt-4" %>

      <!-- コメント表示 -->
      <div class="mt-5">
        <h5>コメント (<%= @post.comments.count %>件)</h5>
        <% @post.comments.each do |comment| %>
          <div class="row my-2">
          <div class="col-1">
            <%= link_to admin_member_path(comment.member) do %>
              <%= image_tag comment.member.get_profile_image(40, 40), class: "rounded-circle profile-image-small" %>
            <% end %>
            </div>
            <div class="col-11">
            <%= comment.member.name %><br/>
            <% if comment.is_hidden == false %>
              <%= comment.comment %>
            <% else %>
              <span class="text-danger"><非公開></span>
              <%= comment.comment %>
            <% end %>
            <%= link_to "削除", admin_post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <!-- ステータス -->
    <div class="col-md-4 ml-5 mt-5">
      <%= link_to admin_member_path(@post.member) do %>
        <div class="text-center mb-3">
          <%= image_tag @post.member.get_profile_image(100, 100), class: "rounded-circle profile-image-big" %>
        </div>
        <h5 class="text-center mb-5"><%= @post.member.name %></h5>
      <% end %>
      <table class="table">
        <tr>
          <th>公開ステータス</th>
          <td>
            <% if @post.is_published == true %>
              <span class="text-success">公開</span>
            <% elsif @post.is_published  == false %>
              <span class="text-danger">非公開</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>作品ステータス</th>
          <td>
            <% if @post.is_hidden == true %>
              <span class="text-danger">無効</span>
            <% elsif @post.is_hidden  == false %>
              <span class="text-success">有効</span>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>