<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>作品材料編集</h2>
      <div class="text-center mb-5">
        <%= image_tag @post.get_post_image(100, 100) %>
        <span class="ml-3 h5"><%= @post.title %></span>
      </div>
      <p>登録したい材料を選択してください</p>
      <%= form_with model:[@post, @post_material],url: post_post_materials_edit_path, local: true do |f| %>
        <% @materials.each do |material| %>
          <div class="mb-2 ml-3">
            <label>
              <%= f.check_box :material_id, {multiple: true, checked: @post_materials.exists?(material_id: material.id) }, material.id, nil %>
              <%= image_tag material.get_material_image(50, 50) %>
              <%= material.name %>
            </label>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-5 mt-4">
            <%= f.submit "登録", class: "btn btn-info px-5" %>
          </div>
          <div class="col-md-5 mt-4">
            <%= link_to "登録した材料を全て取消", post_post_materials_destroy_all_path, method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
      <div class="mt-5">
        <%= link_to "作品管理画面に戻る", posts_post_management_path %>
      </div>
    </div>
  </div>
</div>