<div class="container mt-5">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h2>作品材料登録</h2>
      <div class="text-center my-5">
        <%= image_tag @post.get_post_image(100, 100) %>
        <span class="ml-3 h5"><%= @post.title %></span>
      </div>

      <% if @materials.exists? %>
        <p>登録したい材料を選択してください</p>
        <%= form_with model:[@post, @post_material], method: :post, local: true do |f| %>
          <div class="row">
          <% @materials.each do |material| %>
            <div class="mb-2 ml-3 col-md-5">
              <label>
                <div class="d-flex align-items-center">
                <div>
                  <%= f.check_box :material_id, {multiple: true}, material.id, nil %>
                </div>
                <div class="ml-2">
                  <%= image_tag material.get_material_image(70, 60), class: "index-image" %>
                </div>
                <div class="ml-2"><%= material.name %></div>
              </div>
              </label>
            </div>
          <% end %>
          </div>
          <%= f.submit "登録", class: "btn btn-info mt-3 px-5" %>
        <% end %>
      <% else %>
        <div class="text-center">
          <h5>登録できる材料がありません</h5>
          <p>マイページの「材料管理」から材料を登録してください</p>
        </div>
      <% end %>
      <div class="mt-5">
        <%= link_to "作品管理画面に戻る", posts_post_management_path %>
      </div>
    </div>
  </div>
</div>