<!DOCTYPE html>
<html>
  <head>
    <title>MakersSquare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="wrapper">
      <%= render 'layouts/header' %>

      <main>
        <% if flash[:notice] %>
          <p id="notice" class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if flash[:alert] %>
          <p id="alert" class="alert alert-danger"><%= alert %></p>
        <% end %>
        <% unless admin_signed_in? %>
          <%= render 'public/searches/form' %>
        <% end %>

        <%= yield %>

      </main>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
